ion-tab-bar {
  height: 90px;
  transition: all 0.3s ease;
  background: var(--var-home-page-background);
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

ion-tab-button {
  background: var(--var-home-page-background);
}

ion-tab-button {
  --color-selected: var(--var-home-page-icon-active);
}

ion-tab-button.ion-no-ripple {
  --ripple-color: transparent;
}

ion-tab-button.tab-selected .selected-background {
  transition: all 0.3s ease;
  background: var(--var-home-page-icon-active-background);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

@media only screen and (max-width: 600px), (max-height: 900px) {
  ion-tab-bar {
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  ion-tab-button {
    height: 80px;
  }

  .google-tab-button {
    height: 40px !important;
    width: 40px !important;
  }
}