ion-toolbar {
  --background: var(--var-home-page-background);
}

ion-content {
  --background: var(--var-home-page-background);
}

ion-toolbar::part(content) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.header-icons--left {
  display: flex;
  gap: 10px;
  align-items: center;
}

ion-icon#flask {
  color: var(--var-home-page-icons);
}

#notification-bell {
    color: var(--var-home-page-icon-inactive);
}

#header-avatar {
  height: 30px;
  border-radius: 50px;
}
