ion-toolbar {
  --background: var(--var-home-page-background);
}

ion-content {
  --background: var(--var-home-page-background);
}

ion-toolbar::part(content) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.header-icons--left {
  display: flex;
  gap: 10px;
  align-items: center;
}

ion-icon#flask {
  color: var(--var-home-page-icons);
}

#notification-bell {
    color: var(--var-home-page-icon-inactive);
}

.google-lens {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google-lens-functions {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}

@media (max-height: 800px) {
  .homescreen-nav-icons {
    width: 25px !important;
    height: 25px !important;
  }

  .home-content {
    gap: 10px !important;
    padding-top: 5px !important;
  }

  .google-lens {
    gap: 12px;
  }
}

@media (min-height:850px) {
  .google-lens-functions {
    height: 70px !important;
  }
}

@media (min-height: 1100px) {
  .google-lens-functions {
    height: 100px !important;
  }
}