ion-searchbar#home-search {
    --border-radius: 50px;
    /* border: 1px solid white; */
    width: 100%; 
    --background: var(--var-home-page-search-bar-background)
}

ion-searchbar#home-search input {
    height: 70px;

}